/*GENERAL*/

* {
    box-sizing: border-box;/* borders & paddings font partie de la taille d'un élément */
    padding: 0;
    margin: 0;
}

/* Mise en place des polices */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0 0 7.1rem 0; /*pour pas que le footer fixé en bas ne masque des éléments dans le flow de la page*/
}

.font_chic{
  font-family: 'Crimson Text', serif;
  font-size: 1.4rem;
}

.font_menu{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1.4rem;

}


/*MISE EN PLACE DU RESPONSIVE*/

/*Mise en place des conteneurs responsives par défaut*/
.container{
	max-width: 1200px;
  margin: auto;
  padding: 2.4rem 0 0 0;
}

.container-small{
	max-width: 960px;
  margin: auto;
  padding: 0;
  
}

/* images responsives par défaut */
img {
    max-width: 100%;
    height: auto;
    display: block; /*pour empêcher la marge inférieure de 4px sous l'image des items de menus*/
    
}

/*LAYOUT*/
header{
    display: flex;
    justify-content: center;
    
}

/* grille de la page d'accueil*/
.menus-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.menu{
    margin: 2.3rem;
    flex: 0 0 calc(50% - 4.6rem);
}

/* Section prochainement*/
.next{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
 /*footer et nav*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;  
}

/*BACKGROUNDS*/


.header--green, .footer--green, .btn--green{
    background-color:#569C87;
}

.bg_shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bg_menu--note{
  background-color: #FCDFDB;
}

.bg_menu--chic{
  background-color: #FFF5FE;
}

.bg_menu--delice{
  background-color: #F9F9F9;
}

.bg_menu--palette{
  background-color: #FDFFFD;
}

.txt_gradient_chic{
  background-image: linear-gradient(to right, #C77412 20%, #8F59FF);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.txt_gradient_delice{
  background-image: linear-gradient(to right, #0B29DC, #44A3FC);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.txt_gradient_palette{
  background-image: linear-gradient(to right, #3E913A, #BEFF7F);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/*COMPOSANTS*/
/*LOGO*/
.logo{
    width: 25%;
    padding: 1.5rem;
}

/*MENU ITEM*/
.menu--zoom{
    overflow:hidden; /*on contraint l'image dans la div pour que le cadre ne grossisse pas*/
    
}

/*animation au survol des images des 4 menus cards*/

.menu__image{
    transform: scale(1);
    opacity: 1;
    transition: all 1000ms ease-in-out;
}

.menu__image:hover{
    transform: scale(1.2);
    opacity: 0.6;
}

/*BTN*/
.btn{
    font-size: 1.5rem;
    color: #FCCA46;
    padding: 0.6rem 2rem;
    border-radius: 1rem;
    cursor:pointer;
}

/*animation des points sous le bouton*/
@keyframes dots{
  0%{
    opacity: 0.2;
  }
  
  25%{
    opacity: 1;
  }
  
  100%{
    opacity: 0.2;
  }  
}

.next__dots span{
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.8rem;
  background-color:#FCCA46;
  margin: 1.5rem 0.3rem;
  opacity: 0;
  animation: dots 1600ms ease-in-out infinite;
    
}

.next__dots .point1{
  animation-delay: 0ms; 
}

.next__dots .point2{
  animation-delay: 260ms;
}

.next__dots .point3{
  animation-delay: 520ms;
}


/*FOOTER*/

/*animation wiggle au survol des liens du footer*/
@keyframes shake {
    25%{
      transform: translateX(-1%);
    }
    75%{
      transform: translateX(1%);
    }     
}

.nav__lien a{
  text-decoration: none;
  color: #FCCA46;
  }

.nav__lien:hover{
    animation: shake 200ms ease-in-out infinite;
}

/*PAGES MENUS*/

  /*TITRE PRINCIPAL*/

.container-small h1 {
text-align: center;
padding: 2.8rem;
}
    
    
  /*SOUS-TITRES*/

.contenu_menu{
  padding: 5.8rem 2.4rem;
  text-align: center;
}

.contenu_menu h1{
  padding: 3.6rem 6rem 6rem 6rem;
}

.contenu_menu h2{
  font-size: 3.4rem;
  padding: 1rem 0 5.8rem 0;
}

.menu_note .contenu_menu h2, .menu_delice .contenu_menu h2{
  font-family: 'Marck Script', cursive;
}

/*Layout général des pages de menus*/
table{
  width: 100%;
  padding: 4.8rem;
  text-align: left;
}

table td{
  padding: 0.8rem 0;
}

table td:nth-child(1){
  width: 85%;
}

table td:nth-child(2){
  width: 15%;
  text-align: right;
}

/*Les icônes note de musique de la page La note enchantée*/
.fas{
  font-size: 5rem;
  color: #F15F62;
  background: -webkit-linear-gradient(#F16263, #F6906A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fas-small, h3{
  font-size: 2.6rem;
  display: inline-block;
  font-family: 'Marck Script', cursive;
}


/*Couleurs du texte du menu le Chic à la française*/
.menu_chic .entree{
  color: #C77412;
}

.menu_chic .plat{
  color: #AD6BAC;
}

.menu_chic .dessert{
  color: #4f00f2;
}

.categorie_menu{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}


/* Les décorations des titres des catégories de chaqsue menu*/
.menu_note .categorie_menu{
  background: url(img/note_barre_gauche.png) no-repeat left, url(img/note_barre_droite.png) no-repeat right;  
}

.menu_chic .entree .categorie_menu{
  background: url(img/chic_entree_barre_gauche.png) no-repeat left, url(img/chic_entree_barre_droite.png) no-repeat right;
  background-size: 25%;
}

.menu_chic .plat .categorie_menu{
  background: url(img/chic_plat_barre_gauche.png) no-repeat left, url(img/chic_plat_barre_droite.png) no-repeat right;
  background-size: 25%;
}

.menu_chic .dessert .categorie_menu{
  background: url(img/chic_dessert_barre_gauche\ 2.png) no-repeat left, url(img/chic_dessert_barre_droite.png) no-repeat right;
  background-size: 25%;
}

.menu_delice .categorie_menu{
  background: url(img/menu_delice_barre_gauche.png) no-repeat left, url(img/menu_delice_barre_droite.png) no-repeat right;
  background-size: 25%;
}

.menu_palette .categorie_menu{
  background: url(img/palette_barre_gauche.png) no-repeat left, url(img/palette_barre_droite.png) no-repeat right;
  background-size: 25%;
}



.categorie_menu p{
width: fit-content;
margin: auto;
}

/*animation sur les titres des menus*/

.categorie_menu p::after{
  content:"";
  display: block;
  border: 0.1rem solid #000;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 500ms ease-in-out;
}

.menu_chic .entree .categorie_menu p::after{
  border: 0.1rem solid #C77412;
}

.menu_chic .plat .categorie_menu p::after{
  border: 0.1rem solid #AD6BAC;
}

.menu_chic .dessert .categorie_menu p::after{
  border: 0.1rem solid #4f00f2;
}

.categorie_menu p:hover::after{
  transform: scale(1, 1);  
}

 




/*RESPONSIVE*/

@media (max-width: 768px){
  .container-small{
    padding: 1rem;
    
  }

  .btn{
    font-size: 1.2rem; 
  }

  .contenu_menu h2{
    font-size: 3rem;
  }

  .categorie_menu{
    font-size: 1.6rem; 
  }


  table{
    padding: 2.8rem;
  }

  .fas{
    font-size: 4rem;
  }

  .fas-small, h3{
    font-size: 2.2rem;
  }


  .menu_note .categorie_menu,
  .menu_chic .categorie_menu,
  .menu_delice .categorie_menu,
  .menu_palette .categorie_menu {
    background-size: 20%;
  }
}

@media (max-width: 576px) {
  .menus-grid{
    flex-direction: column;
  }

  .menu{
    margin: 1rem;
  }

  .nav{
    padding: 0.1rem;
  }

  .btn{
    font-size: 1rem;
    text-align: center;
  }

  .contenu_menu{
    padding: 2.8rem 2.4rem;
  }


  
}
